  {% load static %}
  <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">{{ menu_text.our_address }}</h4>
                            <div class="mb-3" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                                <p class="mb-1 "><i class="fas fa-map-marker-alt me-2"></i>Samarqand, O‘zbekiston</p>
                                <p class="mb-1"><i class="fas fa-phone-alt me-2"></i>+998996112220</p>
                                <p class="mb-1"><i class="fas fa-envelope me-2"></i>info@example.com</p>
                            </div>
                            <div class="d-flex justify-content-start pt-3">
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-telegram"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://wa.me/qr/YTHILTE4J3YJH1"><i class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6064.632528291068!2d70.87065231422542!3d40.36432977100959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38baf550accc7227%3A0xaea47326c045c869!2sYahyobek%20Trade2020!5e1!3m2!1suz!2s!4v1752041233021!5m2!1suz!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
