    {% load static %}


    <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Дустлик, Чинабад, Халклар дустлиги улица, 34</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
                    </div>
                    <!-- <div class="top-link pe-2">
                        <a href="#" class="text-white"><small class="text-white mx-2">Maxfiylik siyosati</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Foydalanish shartlari</small>/</a>
                        <a href="#" class="text-white"><small class="text-white ms-2">Sotish va pulni qaytarish</small></a>
                    </div> -->
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/" class="navbar-brand">
                        <img src="{% static 'img/logo.png' %}" alt="Zamin Garden Logo" class="img-fluid" style="max-height: 100px;">
                    </a>    
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{% url 'index' %}#home" class="nav-item nav-link {% if active_page == 'home' %}active{% endif %}">{{ menu_text.home }}</a>
                            <a href="{% url 'index' %}#products" class="nav-item nav-link {% if active_page == 'products' %}active{% endif %}">{{ menu_text.products }}</a>
                            <a href="{% url 'index' %}#gallary" class="nav-item nav-link {% if active_page == 'gallery' %}active{% endif %}">{{ menu_text.gallery }}</a>
                            <a href="{% url 'index' %}#about" class="nav-item nav-link {% if active_page == 'about' %}active{% endif %}">{{ menu_text.about }}</a>
                            <a href="{% url 'index' %}#contact" class="nav-item nav-link {% if active_page == 'contact' %}active{% endif %}">{{ menu_text.contact }}</a>    
                        </div>    
                        <form method="get" action="{% url 'set_language' %}">
                            <select name="lang" class="form-select" style="width: 140px;" onchange="this.form.submit()">
                                <option value="en" data-icon="{% static 'img/flag/eng.png' %}" {% if language == 'en' %}selected{% endif %}>English</option>
                                <option value="ru" data-icon="{% static 'img/flag/rus.png' %}" {% if language == 'ru' %}selected{% endif %}>Русский</option>
                                <option value="uz" data-icon="{% static 'img/flag/uzb.png' %}" {% if language == 'uz' %}selected{% endif %}>中国人</option>
                            </select>
                        </form>

                        <script type="text/javascript">
                            jQuery(document).ready(function($) {
                                var ua = navigator.userAgent,
                                    _device = (ua.match(/iPad/i) || ua.match(/iPhone/i) || ua.match(/iPod/i)) ? "smartphone" :
                                    "desktop";
                                if (_device == "desktop") {
                                    $(".mod-languages").bind('hover', function() {
                                        $(this).children(".dropdown-toggle").addClass(function() {
                                            if ($(this).hasClass("open")) {
                                                $(this).removeClass("open");
                                                return "";
                                            }
                                            return "open";
                                        });
                                        $(this).children(".dropdown-menu").slideToggle();
                                    });
                                } else {
                                    $('.mod-languages .dropdown-toggle').bind('touchstart', function() {
                                        $('.mod-languages .dropdown-menu').toggle();
                                    });
                                }
                            });
                        </script>

                </nav>
            </div>
        </div>
    <!-- Navbar End -->

