{% extends 'base/base.html' %}
{% load static %}
{% block content %}
       

        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">{{menu_text.product_details}}</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">{{menu_text.home}}</a></li>
                <li class="breadcrumb-item active text-white">{{menu_text.product_details}}</li>
            </ol>
        </div>
        <!-- Single Page Header End -->
 

        <!-- Single Product Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-12 col-xl-12">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                        <img src="{{product.get_image_url}}" class="img-fluid rounded" alt="{{product.get_name|default:'Product Image'}}">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <h4 class="fw-bold mb-3">{{product.name_trans}}</h4>
                                    <p class="mb-3">{{product.category.translated_name}}</p>
                                    <p class="mb-4">{{product.description_trans}}</p>
                                </div>
                                
                            </div>
                            <div class="col">
                                    <a href="{{product.files.url}}" class="btn border border-secondary  px-4 py-2 mb-4 text-primary"><i class ="fa fa-download me-2 text-primary"></i> {{ menu_text.details }}</a>
                                </div>
                            <div class="col-lg-12">
                                <nav><div class="nav nav-tabs mb-3"></div></nav>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        <p>
                                            {{product.content_trans|safe}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Single Product End -->
    
  {% endblock content %}